# .env Example
# This file provides environment variables for 'docker compose up' if renamed to .env

# General environment: 'development' or 'production'
# This affects things like security warnings and cookie settings in the backend.
#ENV=development
#NODE_ENV=development

# Backend (Go) service configuration
#-------------------------------------------------
# Port the backend service will run on inside its container and be exposed to.
#PORT=8081

# The frontend URL for Cross-Origin Resource Sharing.
#CORS_ORIGINS=http://localhost:5173

# The full connection string for the backend to connect to the MongoDB container.
#MONGO_URI=mongodb://{MONGO_USER}:{MONGO_PWD}@mongo:27017/question-voting-app?authSource=admin


# Frontend (Vite/React) service configuration
#-------------------------------------------------
#BACKEND_API_URL=http://localhost:8081/api
#ALLOWED_HOSTS=localhost,{YOUR_HOST}


# MongoDB service configuration
#-------------------------------------------------
# Credentials for the initial root user for the MongoDB database.
# The backend's MONGO_URI must use these same credentials.
#MONGO_INITDB_ROOT_USERNAME={MONGO_USER}
#MONGO_INITDB_ROOT_PASSWORD={MONGO_PWD}


# Optional MongoDB settings for specific versions
#-------------------------------------------------

# Specify a particular MongoDB version.
#MONGO_VERSION=4.4.18

# Use 'mongo' shell for versions older than 6.0.
#MONGO_SHELL_COMMAND=mongo

# Adjust healthcheck start period if mongo takes longer to initialize on devices like a raspberrypi.
#MONGO_HEALTHCHECK_START_PERIOD=40s